html,
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth; /* <----- THE SECRET ---- */
}

/* NAVBAR SECTION */
.nav-item a {
  padding-right: 50px;
}

.navbar-brand {
  font-family: "Pacifico", cursive;
}

.navbar {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 2;
}

.navbar.scrolled {
  background: rgb(68, 68, 68); /* IE */
  background: rgba(0, 0, 0, 1); /* NON-IE */
}

/* JUMBOTRON SECTION */
.menuUnderline {
  border: aliceblue 3px solid;
}

.jumbotron {
  background-image: url(../images/Cover.jpg);
  background-size: auto;
  position: relative;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.jumbotron .container {
  z-index: 1;
  position: relative;
  align-content: center;
}

.jumbotron .display-4 {
  color: white;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 30px;
  font-family: "Pacifico", cursive;
  font-size: 5vh;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron .lead {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  font-size: 2vh;
}

.jumbotron .sub-lead {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  font-size: 1.5vh;
}

/* INFO PANEL SECTION */
.info-panel {
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.info-panel img {
  width: 80px;
  border-radius: 12px;
  height: 80px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.info-panel h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.info-panel p {
  font-size: 14px;
  color: #acacac;
  font-weight: 200;
  margin-top: 10px;
}

.info-panel .link-block {
  display: block;
  transition: 0.3s;
}

.info-panel .link-block a {
  text-decoration: none;
}
.link-block:hover {
  transform: scale(1.02);
  cursor: pointer;
  color: #0eb2ff !important;
  border-top-color: #0eb2ff;
}

/* MAPS SECTION */

#maps {
  background-color: #f6f6f6;
}

.maps-container {
  padding: 80px 20px 80px 20px;
}

.maps-container h3 {
  font-size: 42px;
  font-weight: bold;
  margin-top: 30px;
  font-family: "Merriweather", serif;
}

.maps-container a {
  font-size: 12px;
  color: rgb(17, 25, 182);
  font-weight: 200;
  margin-top: 10px;
}

.maps-container p {
  font-size: 14px;
  color: #6b6b6b;
  font-weight: 200;
  margin-top: 10px;
}

.maps-container .maps-box {
  padding-top: 25px;
}

.mapouter {
  position: relative;
  text-align: right;
}
.gmap_canvas {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  overflow: hidden;
  background: none !important;
}

/* SEJARAH SECTION */
.sejarah {
  padding: 80px 20px;
}

.sejarah img {
  border-radius: 12px;
  width: 500px;
  height: 350px;
}

.sejarah a {
  font-size: 12px;
  color: rgb(17, 25, 182);
  font-weight: 200;
  margin-top: 10px;
}

.sejarah h3 {
  font-size: 42px;
  font-weight: bold;
  margin-top: 30px;
  font-family: "Merriweather", serif;
}

.sejarah p {
  font-size: 14px;
  color: #6b6b6b;
  font-weight: 200;
  margin-top: 10px;
}

.sejarah .tab-pane {
  font-size: 14px;
  color: #6b6b6b;
  font-weight: 200;
  margin-top: 10px;
}

/* OVERFLOW CARD SECTION */

#overflow-card {
  padding: 5% 0%;
  background-color: #f6f6f6;
}

.card-upper-container h3 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  font-family: "Merriweather", serif;
}

.card-upper-container p {
  text-align: center;
  font-size: 14px;
  color: #6b6b6b;
  font-weight: 200;
  padding-bottom: 50px;
}

.card {
  display: inline-block;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 0px 10px;
  width: 300px;
  margin: 30px 0px;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
  color: #0eb2ff !important;
  border-top-color: #0eb2ff;
}

.card a {
  font-size: 12px;
  color: rgb(17, 25, 182);
  font-weight: 200;
  margin-top: 10px;
}

.card h5 {
  margin-top: -7px;
}

.card p {
  font-size: 14px;
  color: #6b6b6b;
  font-weight: 200;
  height: 100px;
  white-space: normal;
}

.card-img-top {
  width: 100%;
  height: 50%;
}
.card-body {
  white-space: normal;
}
.slick-prev:before {
  color: grey !important;
  background-color: #eee;
}
.slick-next:before {
  color: grey !important;
  background-color: #eee;
}

.modalImg {
  width: 100%;
}
/* DONATOR SECTION */

#donator {
  padding: 3% 0%;
  text-align: center;
}

.donatorImg {
  border: solid 1px 0.89;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.donatorBio {
  color: black;
  padding: 10px;
}

.donatorBio h5 {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

.comment {
  opacity: 0.3;
  font-family: "Merriweather", serif;
}

.comment h3 {
  font-size: 1.5rem;
}

/* DONATION SECTION */

#donationSection {
  background-color: #f6f6f6;
  color: black;
  text-align: center;
  padding: 3%;
}

.donationContent p {
  margin: 20px 0%;
  font-size: 1.2rem;
}

.donationContent h1 {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
}

.donationContent h3 {
  border: #6b6b6b solid 2px;
  border-radius: 5px;
  font-size: 2rem;
  color: #6b6b6b;
  opacity: 0.6;
}

.donationButton {
  border: solid #6b6b6b;
  border-radius: 15px;
  margin-top: 25px;
}

.gopayDonation {
  border: hidden;
  width: 200px;
}
/* FOOTER SECTION */

#footer {
  padding: 15px 0%;
  text-align: center;
  color: aliceblue;
  background-color: black;
}

.footerContent h2 {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .jumbotron {
    margin-top: -25px;
    height: 640px;
  }

  .info-panel {
    margin-top: -100px;
    margin-bottom: 100px;
  }
  .mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 500px;
  }
  .gmap_canvas {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 500px;
  }

  .maps-container .maps-box {
    padding-top: 0px;
  }

  .modalImg {
    margin-left: 0%;
    padding-left: 0%;
    width: 100%;
    display: inline;
    position: relative;
  }

  .cardDescription {
    display: inline;
  }
}
